target/
!.mvn/wrapper/maven-wrapper.jar
back-office/node_modules/
definitions/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
instances/
payloads/
archive/
test/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VSCode ###
.vscode/settings.json

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
keycloak-15.0.2/standalone/data/*.db

.fake

# Local Keycloak installed distributions and generated runtime data
infra/keycloak/install/keycloak-*/
infra/keycloak/install/package-staging/
infra/keycloak/install/*.tar.gz
infra/keycloak/install/*.zip
