target/
!.mvn/wrapper/maven-wrapper.jar
back-office/node_modules/
definitions/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
instances/
payloads/
archive/
test/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
keycloak-15.0.2/standalone/data/*.db

.fake